@import 'src/assets/style/variables.scss';
.people-title {
    color: $green;
}

.people-btn {
    border: 1px solid $green;
    color: $green;
}

.people-btn:hover {
    background-color: $green;
    color: white;
}

.people-box {
    border: 1px solid $green;
}