@import "../../assets/style/variables.scss";
.school-detales-title {
    color: $blue-u;
}

.school-detalis-main {
    color: $blue-u;
    span {
        color: $blue-800;
    }
}

.people-list-in-school {
    margin-left: 15px;
}

.people-in-school {
    display: flex;
}

.added-classes {
    display: flex;
    flex-wrap: wrap;
}

.add-class-btn {
    width: 200px;
    height: 30px;
    border: 1px solid $blue-u;
    border-radius: 5px;
    color: $blue-u;
    margin: 35px 0px;
}

.added-class {
    padding: 10px;
    border: 1px solid $blue-800;
    border-radius: 5px;
    margin: 5px;
    color: $blue-u;
}