@import "../../assets/style/variables.scss";
.school-detales-title {
    color: $blue-u;
}

.school-detalis-main {
    color: $blue-u;
    span {
        color: $blue-800;
    }
}

.people-list-in-school {
    margin-left: 15px;
}

.people-in-school {
    display: flex;
}